extends layout

block title
  | Wolfee

block app
  .page
    img(src='/static/img/D8ijGd3CSGq4BxJ9EzTf_13976945916_fa0ce84ee3_low.jpg')
    p
      a.credits(href='https://unsplash.com/ramirochecchi') Ramiro Checchi
      a.download(href='/static/img/D8ijGd3CSGq4BxJ9EzTf_13976945916_fa0ce84ee3_o.jpg') Original

  .page
    img(src='/static/img/YFdIoUsRJCAehcoUnQaS_Straw_low.jpg')
    p
      a.credits(href='https://unsplash.com/jeffreydeng') Jeffrey Deng
      a.download(href='/static/img/YFdIoUsRJCAehcoUnQaS_Straw_o.jpg') Original

  .page
    img(src='/static/img/qstJZUtQ4uAjijbpLzbT_LO234824_low.jpg')
    p
      a.credits(href='https://unsplash.com/nigello') Nigel Lo
      a.download(href='/static/img/qstJZUtQ4uAjijbpLzbT_LO234824_o.jpg') Original

