extends layout

block title
  | :: Underwood

block app
  .page.tpl
    .overlay
      .pure-g
        .pure-u-1-2
          a.button-bar.copy-to-clipboard
            span
              i.wf-link
              | Link
            
        .pure-u-1-2
          a.button-bar(download)
            span
              i.wf-down-circled
              | Download
            
